.text-center{
    text-align: center;
    color: rgb(217, 146, 13);
    font-weight: 900px;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
  




















  
  /* body{
    background-color: black;
  } */
  /* .whiteback{
    background-color: black;
    border: 2px solid black;
    width:320px;
    
  } */
